{% extends 'empty.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row align-items-center g-4">
          <div class="col-lg">
            <div class="container-tight">
              <div class="text-center mb-4">
                <a href="{{path('home')}}" class="navbar-brand navbar-brand-autodark"><img src="{{asset('static/logo.svg')}}" height="36" alt=""></a>
              </div>
              <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">Connectez-vous à votre compte</h2>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3 alert alert-infos">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div class="mb-3">
                            <label class="form-label" for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-2">
                          <div class="toggle-password-container">
                              <label class="form-label" for="inputPassword">
                                  Mot de passe
                              </label>
                              <div class="input-group has-validation">
                                  <input 
                                    type="password"
                                    name="password" 
                                    id="inputPassword" 
                                    class="form-control" 
                                    autocomplete="Mot de passe" 
                                    required
                                    {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {
                                        visibleLabel: 'Afficher',
                                        hiddenLabel: 'Masquer',
                                        buttonClasses: ['toggle-password-button', 'link-secondary', 'pr-0'],
                                      }) 
                                    }}
                                  >
                              </div>
                            </div>
                            
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                        </div>
                    </form>
                    <div class="hr-text"> OU </div>
                    <div class="card-body p-0">
                      <div class="row">
                        <div class="col">
                          <a href="{{path('app_forgot_password_request')}}" class="btn w-100">
                              Mot de passe oublié
                          </a>
                        </div>
                        <!--
                        <div class="col">
                          <a href="#" class="btn w-100">
                            Créer un compte
                          </a>
                        </div>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
            {# 
              <div class="text-center text-secondary mt-3">
                Don't have account yet? <a href="" tabindex="-1">Sign up</a>
              </div>
            #}
            </div>
          </div>
          <div class="col-lg d-none d-lg-block">
            <img src="{{asset('static/illustrations/undraw_secure_login_pdn4.svg')}}" height="300" class="d-block mx-auto" alt="">
          </div>
        </div>
      </div>
    </div>
{% endblock %}
