{% extends 'base.html.twig' %}

{% block title %}Formation : {{training.title}} - Ajouter une unité d'enseignement{% endblock %}

{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        {{ training.title}}
                    </div>
                    <h2 class="page-title">
                        Ajout d'unité d'enseignement
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    {{ form_errors(topicsGroupForm) }}

                    {{ form_start(topicsGroupForm, { 'attr' : { 'class': 'card' } } ) }}
                        <div class="card-body">
                            <div class="row row-cards">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        {{ form_label(topicsGroupForm.name, 'Nom de l\'unité d\'enseignement', {'label_attr': {'class': 'form-label required'}}) }}
                                       
                                            {{ form_widget(topicsGroupForm.name, {'attr': {'class': 'form-control', 'required': true}}) }}
                                       
                                    </div>
                                </div>
                            </div>                               
                        </div>
                        <div class="card-footer text-end">
                            <button type="submit" class="btn btn-primary ms-auto">Enregistrer</button>
                        </div>
                        
                    {{ form_end(topicsGroupForm) }}
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}