{% extends 'base.html.twig' %}

{% block title %}Formation : {{training.title}}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}


{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        {{training.title}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume total</div>
                            <div class="h3 m-0">{{volTotal}}H</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume CM</div>
                            <div class="h3 m-0">{{volCm}}H</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume TD</div>
                            <div class="h3 m-0">{{volTd}}H</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume TP</div>
                            <div class="h3 m-0">{{volTp}}H</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    

    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        {{training.title}}
                    </div>
                    <h2 class="page-title">
                        Liste des Matières
                    </h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="{{path('training_add_topic', {'id': training.id, 'tt': 0})}}" class="btn btn-primary d-none d-sm-inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                            Nouvelle Matière
                        </a>
                        <a href="{{path('training_add_topic', {'id': training.id, 'tt': 0})}}" class="btn btn-primary d-sm-none btn-icon" aria-label="Ajouter une matière">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        {% include 'trainings/parameters/tab_topics.html.twig' with {'allowEditTopics': false}  %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts_bottom %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}