{% extends 'base.html.twig' %}

{% block title %}Formation : {{training.title}}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}


{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        {{training.title}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume total</div>
                            <div class="h3 m-0">{{volTotal}}H</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume CM</div>
                            <div class="h3 m-0">{{volCm}}H</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume TD</div>
                            <div class="h3 m-0">{{volTd}}H</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume TP</div>
                            <div class="h3 m-0">{{volTp}}H</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    

    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        {{training.title}}
                    </div>
                    <h2 class="page-title">
                        Liste des Matières
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        {% include 'trainings/parameters/tab_topics.html.twig' with {'allowEditTopics': false}  %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts_bottom %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}