{% extends 'base.html.twig' %}

{% block title %}Formation : {{training.title}}{% endblock %}

{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        {{training.title}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Nb Etudiants</div>
                            <div class="h3 m-0">{{nbStudents}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume Ens. Général</div>
                            <div class="h3 m-0">{{volGen}}H</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume Ens. Technique</div>
                            <div class="h3 m-0">{{volTech}}H</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="subheader">Volume Projet</div>
                            <div class="h3 m-0">{{volProjet}}H</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    

    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        {{training.title}}
                    </div>
                    <h2 class="page-title">
                        Liste des Matières
                    </h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="{{path('training_add_topic', {'id': training.id, 'tt': 0})}}" class="btn btn-primary d-none d-sm-inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                            Nouvelle Matière
                        </a>
                        <a href="{{path('training_add_topic', {'id': training.id, 'tt': 0})}}" class="btn btn-primary d-sm-none btn-icon" aria-label="Ajouter une matière">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap datatable" id="topics-table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>CM</th>
                                        <th>TD</th>
                                        <th>TP</th>
                                        <th>Volume Total</th>
                                        <th>U.E.</th>
                                        <th>Label</th>
                                        <th class="w-1"></th>   
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for topic in training.trainings %}
                                        <tr>
                                            <td>
                                                {{topic.topics.name}}
                                            </td>
                                            <td class="">
                                                {{topic.cm}}
                                            </td>
                                            <td class="">
                                                {{topic.td}}
                                            </td>
                                            <td class="">
                                                {{topic.tp}}
                                            </td>
                                            <td class="">
                                                {{topic.totalVolume}}
                                            </td>
                                            <td>
                                                {{topic.topicsGroups.name|default('NA')}}
                                            </td>
                                            <td>
                                                 {{topic.topicsTrainingsLabels|join(', ')}}
                                            </td>
                                            <td class="text-end">
                                                <div class="btn-list flex-nowrap">
                                                    <a href="{{path('training_add_topic', {'id':training.id, 'tt':topic.id})}}" class="btn btn-secondary">
                                                        Modifier
                                                    </a>
                                                    <a href="{{path('training_remove_topic', {'id':topic.id})}}" class="btn btn-danger">
                                                        Supprimer
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts_bottom %}
    <script>
            $('#topics-table').dataTable( {
                "pageLength": 50,
                "order": [[0, 'asc']],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                'columnDefs': [ {
                    'targets': [7], /* column index */
                    'orderable': false, /* true or false */
                }],
                "dom": '<"card-body border-bottom py-3"<"d-flex"<"text-secondary"l><"ms-auto text-secondary"f>>>t<"card-footer d-flex align-items-center"<"m-0 text-secondary"i><"pagination m-0 ms-auto"p>>',
                
            } );
    </script>
{% endblock %}