{% extends 'base.html.twig' %}

{% block title %}Formation : {{training.title}}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block body %}
    {% set dropdownLink = '' %}
    {% set dropdownContent = '' %}
    {% set addLink = '' %}
    {% set addTxt = '' %}
    {% set tabContent = '' %}
    {% if currentTab == 'timeSlots' %}
            {% set addTxt = 'Nouvelle période' %}
            {% set addLink = path('training_add_timeslot', {'id': training.id, 'tt': 0}) %}
            {% set tabContent = 'trainings/parameters/tab_timeslots.html.twig' %}
    {% endif %}
    {% if currentTab == 'topics' %}
            {% set addTxt = 'Nouvelle matière' %}
            {% set addLink = path('training_add_topic', {'id': training.id, 'tt': 0}) %}
            {% set tabContent = 'trainings/parameters/tab_topics.html.twig' %}
            {% set allowEditTopics = true %}
    {% endif %}
    {% if currentTab == 'topicsGroups' %}
            {% set addTxt = 'Nouvelle UE' %}
            {% set addLink = path('training_add_topics_group', {'id': training.id, 'tt': 0}) %}
            {% set tabContent = 'trainings/parameters/tab_topics_groups.html.twig' %}
    {% endif %}
    {% if currentTab == 'timetable' %}
            {% set addTxt = 'Générer l\'agenda' %}
            {% set addLink = path('training_timetable_generation', {'id': training.id, 'tt': 0}) %}
            {% set tabContent = 'trainings/parameters/tab_timetable.html.twig' %}
    {% endif %}
    {% if currentTab == 'financial' %}
            {% set dropdownLink = 'Nouvelle Entrée' %}
            {% set dropdownContent = '
                <div class="dropdown-menu dropdown-menu-arrow">
                    <a class="dropdown-item" href="'~path("training_add_financial_session", {"id": training.id, "tt": 0})~'">
                        Entrée par heure de cours
                    </a>
                    <a class="dropdown-item" href="'~path("training_edit_financial_student", {"id": training.id, "tt": 0})~'">
                        Entrée par étudiant
                    </a>
                    <a class="dropdown-item" href="'~path("training_edit_financial_manual", {"id": training.id, "tt": 0})~'">
                        Entrée fixe
                    </a>
                </div>
            '%}
            
            {% set tabContent = 'trainings/parameters/tab_financial.html.twig' %}
    {% endif %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        {{training.title}}
                    </div>
                    <h2 class="page-title">
                        Paramétrage
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            {% include('trainings/parameters/tabs_menu.html.twig') %}
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active show">
                                    {% include(tabContent) %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts_bottom %}
     {{ encore_entry_script_tags('datatable') }}
     {{ encore_entry_script_tags('calendar') }}
{% endblock %}
