{% extends 'base.html.twig' %}

{% block title %}
    Formation : {{training.title}}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block body %}
    {% set dropdownLink = '' %}
    {% set dropdownContent = '' %}
    {% set addLink = '' %}
    {% set addTxt = '' %}
    {% set tabContent = '' %}
     {% if currentTab == 'options' %}
        {% if (is_granted('TRAINING_PARAMETERS_OPTION|WRITE', training)) %}
            {% set addTxt = 'Nouvelle option' %}
            {% set addLink = path('training_add_option', {'training': training.id, 'tt': 0}) %}
        {% endif %}
        {% set tabContent = 'trainings/parameters/tab_options.html.twig' %}
    {% endif %}
    {% if currentTab == 'timeSlots' %}
        {% if (is_granted('TRAINING_PARAMETERS_TIMESLOT|WRITE', training)) %}
            {% set addTxt = 'Nouvelle période' %}
            {% set addLink = path('training_add_timeslot', {'training': training.id, 'tt': 0}) %}
        {% endif %}
        {% set tabContent = 'trainings/parameters/tab_timeslots.html.twig' %}
    {% endif %}
    {% if currentTab == 'topics' %}
        {% if (is_granted('TRAINING_PARAMETERS_TOPIC|WRITE', training)) %}
            {% set addTxt = 'Nouvelle matière' %}
            {% set addLink = path('training_add_topic', {'training': training.id, 'tt': 0}) %}
        {% endif %}
        {% set tabContent = 'trainings/parameters/tab_topics.html.twig' %}
        {% set allowEditTopics = true %}
    {% endif %}
    {% if currentTab == 'timetable' %}
        {% if (is_granted('TRAINING_PARAMETERS_LESSON_SESSION|WRITE', training))%}
            {#
                {% set addTxt = 'Générer l\'agenda' %}
                {% set addLink = path('training_timetable_generation', {'training': training.id, 'tt': 0}) %}
            #}
            {% set dropdownLink = 'Option' %}
            {% set dropdownContent %}
                {% include('trainings/parameters/dropdown_options.html.twig') %}
            {% endset %}
        {% endif %}
        {% set tabContent = 'trainings/parameters/tab_timetable.html.twig' %}
    {% endif %}
    {% if currentTab == 'financial' %}
        {% if (is_granted('TRAINING_PARAMETERS_FINANCIAL|WRITE', training)) %}
            {% set dropdownLink = 'Nouvelle Entrée' %}
            {% set dropdownContent = '
                <div class="dropdown-menu dropdown-menu-arrow">
                    <a class="dropdown-item" href="'~path("training_add_financial_session", {"training": training.id, "tt": 0})~'">
                        Entrée par heure de cours
                    </a>
                    <a class="dropdown-item" href="'~path("training_edit_financial_student", {"training": training.id, "tt": 0})~'">
                        Entrée par étudiant
                    </a>
                    <a class="dropdown-item" href="'~path("training_edit_financial_manual", {"training": training.id, "tt": 0})~'">
                        Entrée manuelle
                    </a>
                </div>
            '%}
        {% endif %}
        {% set tabContent = 'trainings/parameters/tab_financial.html.twig' %}
    {% endif %}
    {% if currentTab == 'people' %}
        {% if (is_granted('TRAINING_PARAMETERS_USER|WRITE', training)) %}
            {% set addTxt = 'Nouvel utilisateur' %}
            {% set addLink = path('training_add_person', {'training': training.id, 'tt': 0}) %}
        {% endif %}
        {% set tabContent = 'trainings/parameters/tab_people.html.twig' %}
    {% endif %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        {{training.title}}
                    </div>
                    <h2 class="page-title">
                        Paramétrage
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            {% include('trainings/parameters/tabs_menu.html.twig') %}
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active show">
                                    {% include(tabContent) %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts_bottom %}
     {{ encore_entry_script_tags('datatable') }}
     {{ encore_entry_script_tags('calendar') }}
{% endblock %}
