<div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable" id="training-params-people--table" style="width:100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Roles</th>
                <th>Statut</th>
                <th class="w-1"></th>   
            </tr>
        </thead>
        <tbody>
            {% for person in training.usersTrainings %}
                <tr>
                    <td>
                        {{person.user.displayName}}
                    </td>
                    <td>
                        {% set roles = [] %}
                        {% for role in person.rolesEnumForDisplay %}
                            {% set roles = roles | merge([role|trans()]) %}
                        {% endfor %}
                        {{roles|sort|join(', ')}}
                    </td>
                    <td>
                        {{ person.enumStatusObject|trans()}}
                    </td>
                    <td class="text-end">
                        <div class="btn-list flex-nowrap justify-content-end">
                            <a href="{{path('training_add_person', {'training':training.id, 'tt':person.id})}}" class="btn btn-ghost-warning">
                                Modifier
                            </a>
                            {% if(person.enumStatusObject.value == 'ACTIVE') %}
                                <a href="{{path('training_remove_person', {'training':training.id, 'id':person.id})}}" class="btn btn-ghost-danger">
                                    Désactiver
                                </a>
                            {% else %}
                                <a href="{{path('training_reactivate_person', {'training':training.id, 'id':person.id})}}" class="btn btn-ghost-danger">
                                    Réactiver
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>