{% set dataTableId = 'topics-table' %}
{% if (allowEditTopics) %}
    {% set dataTableId = 'topics-table-dashboard' %}
{% endif %}
<div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable" id="{{dataTableId}}" style="width:100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>CM</th>
                <th>TD</th>
                <th>TP</th>
                <th>Vol. Total</th>
                {% if (allowEditTopics) %}
                    <th>Vol. Planifié</th>
                {% endif %}
                <th>U.E.</th>
                <th class="w-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for topic in training.trainings %}
                <tr>
                    <td>
                        {{topic.topics.name}}
                    </td>
                    <td class="">
                        {{topic.cm}}
                    </td>
                    <td class="">
                        {{topic.td}}
                    </td>
                    <td class="">
                        {{topic.tp}}
                    </td>
                    <td class="">
                        {{topic.totalVolume}}
                    </td>
                    {% if (allowEditTopics) %}
                        <td 
                            class="
                                {% if(volumesByTopics[topic.id]|default(0) != topic.totalVolume) %}
                                    text-warning fw-bold
                                {% else %}
                                    text-success
                                {% endif %}
                            ">
                            
                            {{volumesByTopics[topic.id]|default(0)}} 
                        </td>
                    {% endif %}
                    <td>
                        {{topic.topicsGroups.name|default('NA')}}
                    </td>
                    <td class="text-end">
                        <div class="btn-list flex-nowrap justify-content-end">
                            {% if topic.description is not empty %}
                                <a class="btn btn-ghost-info" data-bs-toggle="offcanvas" href="#topic_desc_{{topic.id}}" role="button">
                                    Infos
                                </a>
                                <div class="offcanvas offcanvas-end" tabindex="-1" id="topic_desc_{{topic.id}}">
                                    <div class="offcanvas-header">
                                        <h2 class="offcanvas-title" id="offcanvasEndLabel">{{topic.topics.name}}</h2>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <div class="text-left">
                                            {{topic.description | raw}}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if (allowEditTopics) %}
                                {% if (is_granted('TRAINING_PARAMETERS_TOPIC|WRITE', training)) %}
                                    <a href="{{path('training_add_topic', {'training':training.id, 'tt':topic.id})}}" class="btn btn-ghost-warning">
                                        Modifier
                                    </a>
                                {% endif %}
                                {% if (is_granted('TRAINING_PARAMETERS_TOPIC|DELETE', training)) %}
                                    <a href="{{path('training_remove_topic', {'training':training.id, 'id':topic.id})}}" class="btn btn-ghost-danger">
                                        Supprimer
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>