<div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable" id="training-params-people--table" style="width:100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Roles</th>
                <th>Statut</th>
                <th>Options</th>
                <th class="w-1"></th>   
            </tr>
        </thead>
        <tbody>
            {% for person in training.usersTrainings %}
                <tr>
                    <td>
                        {{person.user.displayName}}
                    </td>
                    <td>
                        {% set roles = [] %}
                        {% for role in person.rolesEnumForDisplay %}
                            {% set roles = roles | merge([role|trans()]) %}
                        {% endfor %}
                        {{roles|sort|join(', ')}}
                    </td>
                    <td>
                        {{ person.enumStatusObject|trans()}}
                    </td>
                    <td>
                        {{ person.trainingOptions.toArray|sort|join(', ')}}
                    </td>
                    <td class="text-end">
                        <div class="btn-list flex-nowrap justify-content-end">
                            {% if (is_granted('TRAINING_PARAMETERS_USER|WRITE', training)) %}
                                <a href="{{path('training_add_person', {'training':training.id, 'tt':person.id})}}" class="btn btn-ghost-warning">
                                    Modifier
                                </a>
                            {% endif %}
                            {% if(person.enumStatusObject.value == 'ACTIVE') %}
                                {% if (is_granted('TRAINING_PARAMETERS_USER|DELETE', training)) %}
                                    <a href="{{path('training_remove_person', {'training':training.id, 'id':person.id})}}" class="btn btn-ghost-danger">
                                        Désactiver
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if (is_granted('TRAINING_PARAMETERS_USER|DELETE', training)) %}
                                    <a href="{{path('training_reactivate_person', {'training':training.id, 'id':person.id})}}" class="btn btn-ghost-danger">
                                        Réactiver
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{path('training_delete_person', {'training':training.id, 'id':person.id})}}" class="btn btn-ghost-info">
                                    Supprimer
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>