<ul class="nav nav-pills card-header-pills d-print-none" data-bs-toggle="tabs" role="tablist">

    {% if (is_granted('TRAINING_PARAMETERS_OPTION|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('training_parameters_options', {'training': training.id})}}" class="nav-link {{ (currentTab == 'options') ? 'active' : '' }}">
                Les options
            </a>
        </li>
    {% endif %}
    {% if (is_granted('TRAINING_PARAMETERS_TOPIC_GROUP|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('training_parameters_topics_groups', {'training': training.id})}}" class="nav-link {{ (currentTab == 'topicsGroups') ? 'active' : '' }}">
                    Les U.E.
            </a>
        </li>
    {% endif %}
    {% if (is_granted('TRAINING_PARAMETERS_TOPIC|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('training_parameters_topics', {'training': training.id})}}" class="nav-link {{ (currentTab == 'topics') ? 'active' : '' }}">
                    Les matières
            </a>
        </li>
    {% endif %}
    {% if (is_granted('TRAINING_PARAMETERS_LESSON_SESSION|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('training_parameters_timetable', {'training': training.id})}}" class="nav-link {{ (currentTab == 'timetable') ? 'active' : '' }}">
                    L'agenda
            </a>
        </li>
    {% endif %}
    {% if (is_granted('TRAINING_PARAMETERS_FINANCIAL|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('training_parameters_financial', {'training': training.id})}}" class="nav-link {{ (currentTab == 'financial') ? 'active' : '' }}">
                    La gestion financière
            </a>
        </li>
    {% endif %}
    {% if (is_granted('TRAINING_PARAMETERS_USER|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('trainings_parameters_people', {'training': training.id})}}" class="nav-link {{ (currentTab == 'people') ? 'active' : '' }}">
                Les utilisateurs
            </a>
        </li>
    {% endif %}
    {% if addLink is not empty %}  
        <li class="nav-item ms-auto" role="presentation">
            <a href="{{addLink}}" class="nav-link d-sm-inline-block text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                {{addTxt}}
            </a>
        </li>
    {% endif %}
    {% if dropdownLink is not empty %}  
        <li class="nav-item ms-auto" role="presentation">
           <a href="#" class="nav-link d-sm-inline-block text-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                {{dropdownLink}}
            </a>
            {{dropdownContent | raw}}
        </li>
    {% endif %}
</ul>