{% extends 'empty-tight.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="text-center mb-4">
        <a href="{{path('home')}}" class="navbar-brand navbar-brand-autodark"><img src="{{asset('static/logo.svg')}}" height="36" alt=""></a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">Mot de passe oublié</h2>
            <p class="text-secondary mb-4">Entrez votre adresse mail et nous vous enverrons un lien de réinitialisation de votre mot de passe.</p>
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {{ form_start(requestForm) }}
                {{ form_errors(requestForm.captcha) }}
                <div class="mb-4">
                {{ form_row(requestForm.email) }}
                </div>
                <button class="btn btn-primary w-100">
                    <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
                    Recevoir un mail de réinitialisation
                </button>
            {{ form_end(requestForm) }}
        </div>  
    </div>
{% endblock %}