<ul class="nav nav-pills card-header-pills d-print-none" data-bs-toggle="tabs" role="tablist">

    {% if (is_granted('TRAINING_EXPORTS_SIGNATURE|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('training_exports_signature', {'training': training.id})}}" class="nav-link {{ (currentTab == 'signature') ? 'active' : '' }}">
                Feuilles d'émargement
            </a>
        </li>
    {% endif %}
    {% if (is_granted('TRAINING_EXPORTS_INVOICING|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('training_exports_invoicing', {'training': training.id})}}" class="nav-link {{ (currentTab == 'invoicing') ? 'active' : '' }}">
                Heures facturables
            </a>
        </li>
    {% endif %}
    {% if (is_granted('TRAINING_EXPORTS_REPORT|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('training_exports_report', {'training': training.id})}}" class="nav-link {{ (currentTab == 'report') ? 'active' : '' }}">
                C.R.
            </a>
        </li>
    {% endif %}
    {% if (is_granted('TRAINING_EXPORTS_TSF|READ', training)) %}
        <li class="nav-item" role="presentation">
            <a href="{{path('training_exports_tsf', {'training': training.id})}}" class="nav-link {{ (currentTab == 'tsf') ? 'active' : '' }}">
                TSF
            </a>
        </li>
    {% endif %}
    {% if addLink is not empty %}  
        <li class="nav-item ms-auto" role="presentation">
            <a href="{{addLink}}" class="nav-link d-sm-inline-block text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                {{addTxt}}
            </a>
        </li>
    {% endif %}
    {% if dropdownLink is not empty %}  
        <li class="nav-item ms-auto" role="presentation">
           <a href="#" class="nav-link d-sm-inline-block text-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                {{dropdownLink}}
            </a>
            {{dropdownContent | raw}}
        </li>
    {% endif %}
</ul>