    <div class="mt-4"></div>
    <table align="center" width="100%" class="table table-bordered  mb-3" style="page-break-after: always;">
        <tr>
            <td rowspan="3" colspan="2" class="text-center align-middle" width="20%" height="10%" style="">
                <img src="{{ asset('img/logo_beaup.png') }}" style="margin:auto; display:block" width="80%" height="80%">
            </td>
            <td colspan="8" class="text-center align-middle">
                Institution Beaupeyrat – Centre de formation<br/>
                <span class="fs-6"><br/>
                    9ter rue Pétiniaud Beaupeyrat - 87036 Limoges Cedex<br/>
                    Siret : 775 716 715 00013 – APE 8531 Z<br/>
                    Déclaration d’activité enregistrée sous le n° 748 700 407 87 auprès du Préfet de la région Nouvelle Aquitaine.<br/>
                    UFA du CFA ASPECT AQUITAINE - Campus François d'Assise - 2 Allée Marianne Loir - 33800 Bordeaux<br/>
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="8" class="text-center align-middle">
                {{training.shortTitle}} - OPTION {{training_option}}
            </td>
        </tr>
        <tr>
            <td colspan="8" class="text-center align-middle">
                {{signatures_date}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center align-middle fs-5">Horaire</td>
            {% for session in sessions %}
                <td class="text-center align-middle fs-5"><small>{{session.startHour}} - {{session.endHour}}</small></td>
            {% endfor %}
            {% if sessions|length < 8 %}
                {% set remainingCell = 8-sessions|length %}
                <td class="text-center align-middle fs-5" colspan="{{remainingCell}}"></td>
            {% endif %}
            {#
                {% for i in 1..(8-sessions|length) %}
                    <td class="text-center align-middle fs-5"><small>08h00-10h00</small></td>
                {% endfor %}
            #}
        </tr>
        <tr>
            <td colspan="2" class="text-center align-middle fs-5">Ressource</td>
            {% for session in sessions %}
                <td class="text-center align-middle fs-5" width="10%">{{session.resource}}</td>
            {% endfor %}
            {% if sessions|length < 8 %}
                {% set remainingCell = 8-sessions|length %}
                <td class="text-center align-middle fs-5" colspan="{{remainingCell}}" width="{{remainingCell*5}}%">&nbsp;</td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2" class="text-center align-middle fs-5">Cours</td>
            {% for session in sessions %}
                <td class="text-center align-middle fs-5" width="10%">{{session.topic}}</td>
            {% endfor %}
            {% if sessions|length < 8 %}
                {% set remainingCell = 8-sessions|length %}
                <td class="text-center align-middle fs-5" colspan="{{remainingCell}}" width="{{remainingCell*10}}%">&nbsp;</td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2" class="text-center align-middle fs-5">Intervenant</td>
            {% for session in sessions %}
                <td class="text-center align-middle fs-5">{{session.teacher}}</td>
            {% endfor %}
            {% if sessions|length < 8 %}
                {% set remainingCell = 8-sessions|length %}
                <td class="text-center align-middle fs-5" colspan="{{remainingCell}}"></td>
            {% endif %}
        </tr>
        {% if students is not empty%}
            {% for student_option, students_list in students %}
                {% if student_option == key_option %}
                    {% for student in students_list %}
                        <tr>
                            <td class="text-center align-middle" width="15%">{{student.user.lastname}}</td>
                            <td class="text-center align-middle" width="15%">{{student.user.firstname}}</td>
                            {% for session in sessions %}
                                <td></td>
                            {% endfor %}
                            {% if sessions|length < 8 %}
                                {% set remainingCell = 8-sessions|length %}
                                <td class="text-center align-middle fs-5" colspan="{{remainingCell}}"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}

            {% endfor %}
        {% endif %}
        
        <tr>
            <td colspan="2" class="text-center">Signature Intervenant</td>
            {% for session in sessions %}
                <td></td>
            {% endfor %}
            {% if sessions|length < 8 %}
                {% set remainingCell = 8-sessions|length %}
                <td class="text-center align-middle fs-5" colspan="{{remainingCell}}">&nbsp;</td>
            {% endif %}
        </tr>
    </table>