{% extends 'base.html.twig' %}

{% block title %}Formations au sein de {{ place.name }} {% endblock %}

{% block body %}

    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        {{ place.name }} > Formations actives
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Niveau</th>
                                        <th>Responsable Pédagogique</th>
                                        <th>Nb étudiants</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for training in activeTrainings %}
                                        <tr>
                                            <td>
                                                {{training.ShortDisplayName}}
                                            </td>
                                            <td>
                                                {{training.level}}
                                            </td>
                                            <td>
                                                {{training.contentContact.displayName}}
                                            </td>
                                            <td>
                                                
                                            </td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
